
<% if current_user == message.user %>
<div class="message message-container current_user" id="message-<%= message.id %>">
  <p class="message-content">
    <%= message.content %>
  </p>
  <div class="message-author current_user">Moi</div>
</div>
<% else %>
<div class="message message-container" id="message-<%= message.id %>">
  <p class="message-content">
    <%= message.content %>
  </p>
  <div class="message-author"><%= message.user.username %></div>
</div>
<% end %>
