
<% if current_user == message.user %>
<div class="message message-container current_user" id="message-<%= message.id %>">
  <p class="message-content">
    <%= message.content %>
  </p>
  <div class="message-author current_user">Moi <%= cl_image_tag(current_user.photo.key, class: "avatar-xs" , alt: "avatar") %></div>
</div>
<% else %>
<div class="message message-container" id="message-<%= message.id %>">
  <p class="message-content">
    <%= message.content %>
  </p>
  <%= link_to user_path(message.user) do %>
  <div class="message-author"><%= cl_image_tag(message.user.photo.key, class: "avatar-xs" , alt: "avatar") %> <%= message.user.username %></div>
  <% end %>
</div>
<% end %>
