<% should_display_all = resource.errors.any? %>
<div class="container mt-5 registration-new">
  <h1>Inscription</h1>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="registration-new-first-part">
      <%= f.input :email,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "email", class: "required-inputs-registration" } %>
      <%= f.input :password,
      required: true,
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
      input_html: { autocomplete: "new password",class: "required-inputs-registration" }
      %>
      <%= f.input :password_confirmation,
      required: true,
      input_html: { autocomplete: "new password", class: "required-inputs-registration" }
      %>
      <%= f.input :username,
      required: true,
      input_html: { autocomplete: "username", class: "required-inputs-registration" }
      %>
      <%= f.input :first_name,
      required: true,
      input_html: { autocomplete: "first name", class: "required-inputs-registration" }
      %>
      <%= f.input :last_name,
      required: true,
      input_html: { autocomplete: "last name", class: "required-inputs-registration" }
      %>
      <h2 class="next-step-button-registration btn btn-primary <%= should_display_all ? 'd-none' : '' %> ">Suivant</h2>
    </div>
    <div class="registration-new-second-part <%= should_display_all ? '' : 'd-none' %>">
      <%= f.input :address%>
      <%= f.input :bio%>
      <%= f.input :website%>
      <%= f.input :competences, collection: User::SKILLS_LIST, input_html: { multiple: true, class: "select2"} %>
      <%= f.input :photo, as: :file %>
      <div class="form-actions">
        <%= f.button :submit, "Créer votre compte", class:"btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
