<h3><%= chatroom.name %></h3>
<div id="messages" data-chatroom-id="<%= chatroom.id %>">
  <% chatroom.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<%= simple_form_for [ chatroom, message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message #{chatroom.name}" %>
<% end %>
