<div class="inbox">
  <div class="chatroom-sidebar col-4 ">
    <h1 class="ml-2">Inbox</h1>
    <div class="menu pt-4">
      <% @chatrooms.sort_by {|chatroom| chatroom.messages.last.updated_at}.reverse.each do |chatroom| %>
      <a href="/chatrooms?chatroom_id=<%= chatroom.id %>" remote= true>
        <div class="chatroom-item">
          <%= chatroom.name %>
        </div>
      </a>
      <% end %>
    </div>
  </div>
  <% @chatrooms.each do |chatroom| %>
  <% params[:chatroom_id] ?  chatroom_active = Chatroom.find(params[:chatroom_id]) : chatroom_active = current_user.chatrooms.first%>
  <% is_active_chatroom = chatroom == chatroom_active %>
  <div class="chatroom-main col-8 <%= is_active_chatroom ? '' : 'd-none' %>" >
    <div class="chatroom-header">
      <h3 class="text-right">
      <%= chatroom.name %>
      </h3>
    </div>
    <div class="chatroom-content">
      <div class="messages mt-2" data-chatroom-id="<%= chatroom.id %>">
        <% chatroom.messages.each do |message|%>
        <%= render 'messages/message', message: message %>
        <% end %>
      </div>
      <div class="chatroom-footer">
        <%= simple_form_for [ chatroom, Message.new ], class:"form-reply d-flex m-3" ,remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message #{chatroom.name}" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
