<div class="inbox">
  <div class="chatroom-sidebar col-4 ">
    <h1 class="ml-2">Messagerie</h1>
    <div class="menu">
      <% @chatrooms.sort_by {|chatroom| chatroom.messages.last.updated_at}.reverse.each do |chatroom| %>
      <% params[:chatroom_id] ? chatroom_active = Chatroom.find(params[:chatroom_id]) : chatroom_active = current_user.chatrooms.first%>
      <% is_active_chatroom = chatroom == chatroom_active %>
      <a href="/chatrooms?chatroom_id=<%= chatroom.id %>" remote=true>
        <div class="chatroom-item <%= is_active_chatroom  ? 'active' : 'inactive' %>">
          <span class="chatroom-title"><%= chatroom.name %></span>
          <div class="chatroom-details">
            <p class="last-message"><%= chatroom.last_message.first(40) %></p>
            <span class="last-message-date"><%= chatroom.last_active %></span>
          </div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
  <% @chatrooms.each do |chatroom| %>
  <% params[:chatroom_id] ? chatroom_active = Chatroom.find(params[:chatroom_id]) : chatroom_active = current_user.chatrooms.first%>
  <% is_active_chatroom = chatroom == chatroom_active %>
  <div class="chatroom-main col-8 <%= is_active_chatroom ? 'active_main' : 'd-none' %>">
    <div class="chatroom-header">
      <h3 class="text-right">
        <%= chatroom.name %>
      </h3>
        <% if !chatroom.project.nil? %>
          <%= link_to 'Voir le projet', project_path(chatroom.project_id), class: "project_link"%>
        <% end %> 
    </div>
    <div class="chatroom-content">
      <div class="messages mt-2" data-chatroom-id="<%= chatroom.id %>">
        <% chatroom.messages.each do |message|%>
        <% display_message = message != chatroom.messages.first %>
        <% if display_message %>
          <%= render 'messages/message', message: message %>
        <% end %>
        <% end %>
      </div>

    </div>

    <div class="chatroom-footer <%= 'active_footer' if params[:chatroom_id].to_i == chatroom.id %>">
      <%= simple_form_for [ chatroom, Message.new ], class:"form-reply d-flex m-3" ,remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Tapez votre message ici..." %>
      <%= f.button :submit, "Envoyer", class: "btn btn-submit"%>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
