<% content_for :meta_title, "#{@user.username} - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container-profile-page d-flex">
  <div class="profile-page-left d-flex flex-column align-items-center col-3">
  <% if @user.photo.attached?%>
        <%= cl_image_tag(@user.photo.key, class: "avatar-large img-fluid" , alt: "avatar") %>
      <% else %>
        <%= image_tag 'https://www.inbenta.com/wp-content/themes/inbenta/img/icons/avatar.svg?ver=2', class: "img-fluid" %>
      <% end %>
      <div class="users-infos d-flex flex-column align-items-center mt-2">
    <h4 class="profile-page-username mt-2"><i class="fas fa-user-circle"></i> <%= @user.username.upcase %></h4>
    <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %></p>
    <p class="ml-3 mr-3 pl-4 pr-4 text-center"><%= @user.bio %></p>
    <div class="user-skills text-center">
      <% @user.competences.each do |competence| %>
      <span class="skill"><%= competence %></span>
      <% end %>
    </div>
    <%= link_to 'Message', init_message_user_path(@user), class: "btn btn-secondary mt-3" %>
  </div>
    </div>

  <div class="profile-page-right d-flex flex-column align-items-center col-9">
    <div class="buttons-profile d-flex">
      <a class="btn-profile-portfolio btn-profile-active">
        PORTFOLIO
      </a>
      <a class="btn-profile-projects btn-profile-inactive">
        PROJETS
      </a>
    </div>
    <div class="content-profile">
      <div class="user-portfolio d-flex">
        <div class="row">
          <div class="blocks">
            <% @blocks.each do |block| %>
            <%= render 'shared/block_display', block: block %>
            <hr />
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="user-projects hidden">
      <div class="content-profile-projects">
        <div class="cards-projects-profile">
          <% @user.all_projects.each do |project| %>
          <div class="card">
            <%= link_to project_path(project) do %>
            <% project_images = project.blocks.map{|image|image if !image.content.include?('youtube') && image.upload.attached? && !image.url.nil? && image.upload.image?}%>
            <% if project_images.reject{|project_image| project_image.nil?}.length >= 1%>
            <div class="card-images d-flex flex-column justify-content-between" style="background-image:url(<%= "http://res.cloudinary.com/devlnkl7u/image/upload/#{project_images.find(&:itself).upload.key}"%>)">
              <% else %>
              <div class="card-images d-flex flex-column justify-content-between" style="background-image:url('https://res.cloudinary.com/devlnkl7u/image/upload/v1592338203/cosmose-fond-darkred_fw7cod.png')">
                <% end %>
                <div class="card-images-element-top">
                </div>
                <div class="card-images-elements-bottom d-flex justify-content-between">
                  <%= render 'shared/icons', categories: project.categories  %>
                  <% if project.user.photo.attached? %>
                  <%= cl_image_tag(project.user.photo.key, class: "avatar", alt: "avatar") %>
                  <% else %>
                  <%= image_tag 'https://www.inbenta.com/wp-content/themes/inbenta/img/icons/avatar.svg?ver=2', class: "avatar", style:"background-color:white"  %>
                  <% end %>
                </div>
              </div>
              <div class="card-content">
                <h4 class="card-title"><%= project.title %></h4>
                <p><%= project.description %></p>
                <p class="card-localisation"><%= project.address %></p>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
