<div class="container">
  <div class="row">
    <div class="block_add d-flex">
      <span class="btn btn-outline-primary cta_add_block">Ajouter un bloc </span>
      <br />
      <%= simple_form_for([@project, @block], html: { class: "hidden" }) do |f| %>
      <%= f.input :content, required: true %>
      <p><em style="color: #D8D8D8">Mettre une url youtube pour ajouter une vidéo</em></p>
      <%= f.input :upload, as: :file %>
      <%= f.input :private %>
      <%= f.button :submit, class:"btn btn-primary", remote: true %>
      <span class="btn btn-outline-secondary cta_cancel_block hidden">Annuler</span>
      <% end %>
    </div>
  </div>
</div>