<% if block.upload.attached? %>
<% if block.upload.image? %>
<div class="col-6 block block-img">
  <% if policy(block).destroy? %>
  <span class="block-destroy">
    <%= link_to '<i class="fas fa-ban"></i>'.html_safe, block_path(block), method: :DELETE, remote: true %>
  </span>
  <% end %>
  <div class="block-content">
    <%= image_tag(block.upload, width: "auto") %>
    <center class="img-legend"><%= block.content.html_safe %></center>
  </div>
</div>
<% end %>
<% elsif block.url %>
<div class="col-6 block block-audio">
  <% if policy(block).destroy? %>
  <span class="block-destroy">
    <%= link_to '<i class="fas fa-ban"></i>'.html_safe, block_path(block), method: :DELETE, remote: true %>
  </span>
  <% end %>
  <div class="block-content">
    <audio controls="true" preload="true">
      <source src="<%= block.url %>" type='audio/mpeg'>
    </audio>
  </div>
</div>
<% else %>
<div class="col-6">
  <% if policy(block).destroy? %>
  <span class="block-destroy">
    <%= link_to '<i class="fas fa-ban"></i>'.html_safe, block_path(block), method: :DELETE, remote: true %>
  </span>
  <% end %>
  <div class="block-content">
    <%= block.content.html_safe %>
  </div>
</div>
<% end %>