<div class="cards">
  <% users.each do |user| %>
  <div class="card">
    <%= link_to (current_user == user ? portfolio_path : user_path(user)) do %>
    <% user_images = user.blocks.map{|image|image if !image.content.include?('youtube') && image.upload.image?}%>
          <% if user_images.reject{|user_image| user_image.nil?}.length >= 1%>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url(<%= rails_blob_url(user_images.first.upload)%>)">
          <% else %>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url('https://res.cloudinary.com/devlnkl7u/image/upload/v1592338203/cosmose-fond-darkred_fw7cod.png')">
          <% end %>

      <div class="card-images-element-top">
        </div>
      <div class="card-images-elements-bottom-artist">
        <% if user.photo.attached? %>
        <%= cl_image_tag(user.photo.key, class: "avatar", alt: "avatar") %>
      <% else%>
        <%= image_tag 'https://via.placeholder.com/50', class: "avatar"  %>
      <% end %>
      </div>
    </div>
    <div class="card-content">
      <h4 class="card-title"><%= user.username.upcase %></h4>
      <p><%= user.bio  %></p>
      <p class="card-localisation">
        <% if user.latitude %>
          <%= Geocoder.search([user.latitude, user.longitude]).first.county %>
        <% else %>
          <%= user.address.first(20) %>...
        <% end %>
      </p>
      <% user.competences.each do |competence| %>
      <p><%= competence %></p>
      <%end%>
    </div>
    <% end %>
  </div>
  <% end%>
</div>
