<div class="cards">
  <% users.each do |user| %>
  <div class="card">
    <%= link_to (current_user == user ? portfolio_path : user_path(user)) do %>
     <% user_images = user.blocks.map{|image|image if !image.content.include?('youtube') && image.upload.attached? && image.upload.image?}.reject{|user_image| user_image.nil?}.reject{|user_image| user_image.nil?}%>
          <% if user_images.length >= 1%>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url(<%= "http://res.cloudinary.com/devlnkl7u/image/upload/#{user_images.first.upload.key}"%>)">
          <% else %>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url('https://res.cloudinary.com/devlnkl7u/image/upload/v1592338203/cosmose-fond-darkred_fw7cod.png')">
          <% end %>

      <div class="card-images-element-top">
        </div>
      <div class="card-images-elements-bottom-artist">
        <% if user.photo.attached? %>
        <%= cl_image_tag(user.photo.key, class: "avatar", alt: "avatar") %>
      <% else%>
        <%= image_tag 'https://www.inbenta.com/wp-content/themes/inbenta/img/icons/avatar.svg?ver=2', class: "avatar", style:"background-color:white"  %>
      <% end %>
      </div>
    </div>
    <div class="card-content">
      <h4 class="card-title"><%= user.username.upcase %></h4>
      <p><%= user.bio  %></p>
      <p class="card-localisation"><%= user.address.length > 10 ? user.address.first(10) + '...' : user.address%></p>
    </div>
    <% end %>
  </div>
  <% end%>
</div>
