<div class="banner-homepage-user">
  <h1 id="title-banner-homepage-user">INSPIRATION</h1>
</div>

<div class="homepage-user-cards d-flex flex-column">
  <h2 class="homepage-user-title">ARTISTES</h2>
  <div class="cards">
    <% User.all.sample(3).each do |user| %>
      <div class="card">
        <div class="card-images d-flex flex-column justify-content-between">
          <div class="card-images-element-top">
            <i class="far fa-heart"></i>
          </div>
          <div class="card-images-elements-bottom d-flex justify-content-between">
            <i class="fas fa-record-vinyl"></i>
            <div class="avatar-card"></div>
          </div>
        </div>
        <div class="card-content">
          <h4 class="card-title"><%= user.username %></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore!</p>
          <p class="card-localisation">Localisation</p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="homepage-user-button-see-more d-flex justify-content-center">
    <%= link_to "VOIR PLUS", explorer_path, class:"btn btn-primary" %>
  </div>

  <h2 class="homepage-user-title">PROJETS</h2>
  <div class="cards">
    <% Project.all.sample(3).each do |project| %>
      <div class="card">
        <div class="card-images d-flex flex-column justify-content-between">
          <div class="card-images-element-top">
            <i class="far fa-heart"></i>
          </div>
          <div class="card-images-elements-bottom d-flex justify-content-between">
            <i class="fas fa-record-vinyl"></i>
            <div class="avatar-card"></div>
          </div>
        </div>
        <div class="card-content">
          <h4 class="card-title"><%= project.title %></h4>
          <p><%= project.description %></p>
          <p class="card-localisation"><%= project.address %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="homepage-user-button-see-more d-flex justify-content-center">
    <%= link_to "VOIR PLUS", explorer_path, class:"btn btn-primary" %>
  </div>
</div>


<div class="homepage-user-categories">
  <div class="homepage-user-categories-title">
    <h2 id="homepage-user-title-categories">CATEGORIES</h2>
  </div>
  <div class="homepage-user-categories-content ">
    <div class="homepage-user-element-categorie">
      <p><%= link_to "MUSIQUE", root_path %></p>
    </div>
    <div class="homepage-user-element-categorie">
      <p><%= link_to "LITTERATURE", root_path %></p>
    </div>
    <div class="homepage-user-element-categorie">
      <p><%= link_to "ART VISUEL", root_path %></p>
    </div>
    <div class="homepage-user-element-categorie">
      <p><%= link_to "ARCHITECTURE", root_path %></p>
    </div>
    <div class="homepage-user-element-categorie">
      <p><%= link_to "SPECTACLE VIVANT", root_path %></p>
    </div>
    <div class="homepage-user-element-categorie">
      <p><%= link_to "DESIGN", root_path %></p>
    </div>
    <div class="homepage-user-element-categorie">
      <p><%= link_to "STREET ART", root_path %></p>
    </div>
    <div class="homepage-user-element-categorie">
      <p><%= link_to "CINEMA", root_path %></p>
    </div>
  </div>
</div>

