  <div class="words-animation d-flex flex-direction-row">
  <h2 class="title-banner-home-user">
    Trouvez votre
      <div class="words">
        <span>projet</span>
        <span>artiste</span>
        <span>collaboration</span>
      </div>
  </h2>
  </div>

<div class="homepage-user-cards d-flex flex-column">
  <h2 class="homepage-user-title">ARTISTES</h2>
  <div class="cards">
    <% User.all.sample(3).each do |user| %>
    <div class="card">
      <%= link_to (current_user == user ? portfolio_path : user_path(user)) do %>
      <% user_images = user.blocks.map{|image|image if !image.content.include?('youtube') && image.upload.attached? && image.upload.image?}%>
          <% if user_images.reject{|user_image| user_image.nil?}.length >= 1%>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url(<%= "http://res.cloudinary.com/devlnkl7u/image/upload/#{user_images.first.upload.key}"%>)">
          <% else %>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url('https://res.cloudinary.com/devlnkl7u/image/upload/v1592338203/cosmose-fond-darkred_fw7cod.png')">
          <% end %>

      <div class="card-images-element-top">
        </div>
        <div class="card-images-elements-bottom-artist">
          <% if user.photo.attached? %>
        <%= cl_image_tag(user.photo.key, class: "avatar", alt: "avatar") %>
      <% else%>
        <%= image_tag 'https://via.placeholder.com/50', class: "avatar"  %>
      <% end %>
        </div>
      </div>
      <div class="card-content">
        <h4 class="card-title"><%= user.username.upcase %></h4>
        <p><%= user.bio %></p>
        <p class="card-localisation"><%= user.address %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="homepage-user-button-see-more d-flex justify-content-center">
    <%= link_to "VOIR PLUS", explorer_path, class:"btn btn-primary" %>
  </div>
  <h2 class="homepage-user-title">PROJETS</h2>
  <div class="cards">
    <% Project.all.sample(3).each do |project| %>
    <div class="card">
      <%= link_to project_path(project) do %>
      <% project_images = project.blocks.map{|image|image if !image.content.include?('youtube') && image.upload.attached? && image.upload.image?}%>
          <% if project_images.reject{|project_image| project_image.nil?}.length >= 1%>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url(<%= "http://res.cloudinary.com/devlnkl7u/image/upload/#{project_images.first.upload.key}"%>)">
          <% else %>
          <div class="card-images d-flex flex-column justify-content-between" style="background-image:url('https://res.cloudinary.com/devlnkl7u/image/upload/v1592338203/cosmose-fond-darkred_fw7cod.png')">
          <% end %>

      <div class="card-images-element-top">
        </div>
        <div class="card-images-elements-bottom d-flex justify-content-between">
          <%= render 'shared/icons', categories: project.categories  %>
          <% if project.user.photo.attached? %>
        <%= cl_image_tag(project.user.photo.key, class: "avatar", alt: "avatar") %>
      <% else%>
        <%= image_tag 'https://via.placeholder.com/50', class: "avatar"  %>
      <% end %>
        </div>
      </div>
      <div class="card-content">
        <h4 class="card-title"><%= project.title %></h4>
        <p><%= project.description %></p>
        <p class="card-localisation"><%= project.address %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="homepage-user-button-see-more d-flex justify-content-center">
    <%= link_to "VOIR PLUS", explorer_path, class:"btn btn-primary" %>
  </div>
</div>

<div class="homepage-user-categories">
  <div class="homepage-user-categories-title">
    <h2 class="homepage-user-title">CATEGORIES</h2>
  </div>

  <div class="homepage-user-categories-content shift">
    <ul class="homepage-category-list">
      <li class="type-categories">
         <%= link_to "MUSIQUE", explorer_path(:category => "Musique"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "LITTERATURE", explorer_path(:category => "Littérature"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "ARTS VISUELS", explorer_path(:category => "Arts Visuels"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "SCULPTURE", explorer_path(:category => "Sculpture"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "ARCHITECTURE", explorer_path(:category => "Architecture"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "CINÉMA", explorer_path(:category => "Cinéma"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "ARTS NUMÉRIQUES", explorer_path(:category => "Arts Numériques"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "BANDES DESSINÉES", explorer_path(:category => "Bandes Dessinées"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "JEUX VIDEO & MULTIMEDIA", explorer_path(:category => "Jeux Vidéo & Multimédia"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "ARTS VIVANTS / ARTS DE LA SCÈNE", explorer_path(:category => "Arts Vivants / Arts de la scène"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "DESIGN", explorer_path(:category => "Design"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "STREET ART", explorer_path(:category => "Street Art"), class: "category-word"%>
      </li>
       <li class="type-categories">
         <%= link_to "ARTS MÉDIATIQUES", explorer_path(:category => "Arts Médiatiques"), class: "category-word"%>
      </li>
    </ul>
  </div>
</div>
