<%= render 'shared/navbar-user' %>

<div class="banner-homepage-user">
  <h1 id="title-banner-homepage-user">INSPIRATION</h1>
</div>

<div class="homepage-user-cards d-flex flex-column">
  <h2 class="homepage-user-title">ARTISTES</h2>
  <div class="cards">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
  <button class="btn btn-primary">Voir Plus</button>

  <h2 class="homepage-user-title">PROJETS</h2>
  <div class="cards">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
  <button class="btn btn-primary">Voir Plus</button>
</div>


<div class="homepage-user-categories">
  <div class="homepage-user-categories-title">
    <h2 id="homepage-user-title-categories">CATEGORIES</h2>
  </div>
  <div class="homepage-user-categories-content d-flex">
    <p><%= link_to "MUSIQUE", root_path %></p>
    <p><%= link_to "LITTERATURE", root_path %></p>
    <p><%= link_to "ART VISUEL", root_path %></p>
    <p><%= link_to "ARCHITECTURE", root_path %></p>
    <p><%= link_to "SPECTACLE VIVANT", root_path %></p>
    <p><%= link_to "DESIGN", root_path %></p>
    <p><%= link_to "STREET ART", root_path %></p>
    <p><%= link_to "CINEMA", root_path %></p>
  </div>
</div>

