<% if !user_signed_in? && current_page?(root_path)%>
<div class="navbar sticky-top">
  <%= link_to root_path do %>
    <img src="https://i.ibb.co/6y67sbM/cosmoseblack.png" alt="logo" class="navbar-logo">
  <% end %>
  <div class="navbar-buttons">
    <%= link_to "Connexion", new_user_session_path, class:"login-btn btn btn-secondary delink-btn" %>
    <%= link_to "Inscription", new_user_registration_path, class:"signup-btn btn btn-primary delink-btn" %>
  </div>
</div>
<% elsif user_signed_in? %>
<div class="navbar-current-user sticky-top navbar navbar-expand-lg navbar-lewagon">
  <%= link_to root_path do %>
    <img src="https://i.ibb.co/CJFX8fQ/cosmosewhite.png" alt="" class="navbar-logo">
  <% end %>
  <%= link_to "CREER UN PROJET".html_safe, new_project_path, class: "btn btn-primary btn-primary-navbar" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="navbar-logged-buttons d-flex justify-content-between">
    <%= link_to "<i class='fas fa-search'></i>".html_safe, explorer_path %>
    <%= link_to notifications_path do %>
      <i class='far fa-bell'></i>
      <% if current_user && current_user.notifications.where(read: false).count > 0 %>
      <span class="notifications-count"><%= current_user.notifications.where(read: false).count %></span>
      <% end %>
    <% end %>
    <%= link_to "<i class='far fa-comment-dots'></i>".html_safe, current_user.chatrooms.empty? ? chatrooms_path : chatrooms_path + "?chatroom_id=#{current_user.chatrooms.sort_by {|chatroom| chatroom.messages.last.updated_at}.reverse.first.id}" %>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if current_user && current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, class: "avatar", alt: "avatar") %>
      <% elsif current_user && !current_user.photo.attached? %>
        <%= image_tag 'https://www.inbenta.com/wp-content/themes/inbenta/img/icons/avatar.svg?ver=2', class: "avatar", style:'border:1px solid black' %>
      <% end %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Mon profil", portfolio_path, class:"dropdown-item" %>
        <%= link_to "À propos de nous", about_path, class:"dropdown-item" %>
        <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "dropdown-item"%>
      </div>
    </div>
  </div>
</div>
<% end %>
