<% if !current_user %>
  <div class="navbar fixed-top">
    <%= link_to "COSMOSE", root_path%>
    <div class="navbar-buttons">
    <%= link_to "Connexion", new_user_session_path, class:"login-btn btn btn-secondary" %>
    <%= link_to "Inscription", new_user_registration_path, class:"signup-btn btn btn-primary" %>
    </div>
  </div>
<% else %>
  <div class="navbar-current-user sticky-top navbar navbar-expand-lg navbar-lewagon">
    <%= link_to "COSMOSE", root_path %>
    <%= link_to "CREER UN PROJET <i class='far fa-plus-square'></i>".html_safe, new_project_path, class: "btn btn-primary" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="navbar-logged-buttons d-flex justify-content-between">
      <%= link_to "<i class='far fa-bell'></i>".html_safe , notifications_path %>
      <i class="far fa-comment-dots"></i>
      <div class="nav-item dropdown">
        <a class="avatar-card nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Mon profil", portfolio_path, class:"dropdown-item" %>
          <%= link_to "À propos de nous", about_path, class:"dropdown-item" %>
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "dropdown-item"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
