<div class="explorer-top d-flex flex-column">
  <div class="explorer-choice d-flex justify-content-between align-items-center">
    <button class="btn-explorer-artists btn-explorer-active">
    ARTISTES
    <div class="btn-explorer-artists__horizontal"></div>
    <div class="btn-explorer-artists__vertical"></div>
    </button>
    <button class="btn-explorer-projects btn-explorer-inactive">
    PROJETS
    <div class="btn-explorer-projects__horizontal"></div>
    <div class="btn-explorer-projects__vertical"></div>
    </button>
  </div>
</div>

<div class="explorer-display-artists <%= @display_project ? 'hidden-explorer' : ''%>">
  <div class="explorer-search-bar d-flex">
    <%= form_tag explorer_path, method: :get, class: "searchform" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-bar",
        placeholder: "Je cherche un.e artiste"
      %>

      <%= text_field_tag :address,
        params[:address],
        class: "search-bar",
        placeholder: "Ville"
      %>

      <%= select_tag :competences, options_for_select(User::SKILLS_LIST.sort),
        prompt: "Compétences",
        class: "search-bar"
      %>
      <%= submit_tag "Rechercher", remote: true, class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= render 'shared/card-artist', users: @users %>
</div>


<div class="explorer-display-projects <%= @display_project ? '' : 'hidden-explorer'%>">

    <div class="explorer-search-bar d-flex">
      <%= form_tag explorer_path, method: :get, class: "searchform" do %>
      <%= text_field_tag :query_project,
          params[:query_project],
          class: "search-bar",
          placeholder: "Je cherche un projet"
        %>

      <%= text_field_tag :address,
          params[:address],
          class: "search-bar",
          placeholder: "City"
        %>

      <%= select_tag :category, options_for_select(Project::CATEGORIES_LIST.sort), prompt: "Catégorie", class: "search-bar" %>

      <input type="text" name="query_type" value="project" hidden>

      <%= submit_tag "Rechercher",class: "btn btn-primary" %>
    <% end %>
    </div>
    <%= render 'shared/card-project', projects: @projects %>

</div>

