<div class="project-new d-flex flex-column align-items-center">
  <div class="project-new-title">
    <h1>Projet : <%= @project.title %></h1>
  </div>
  <%= simple_form_for @project do |f|  %>
  <div class="form-inputs form-edit-project">
    <div class="project-new-first-part">
      <%= f.input :title, required: true, input_html: {class:"input-new-project required-inputs-project-1"} %>
      <%= f.input :categories, collection: Project::CATEGORIES_LIST.sort, input_html: { multiple: true, class: "select2 input-new-project required-inputs-project-1"} %>
      <div class="choice-new-project">
      </div>
    </div>
    <div class="project-new-second-part">
      <%= f.input :description, required: true, input_html: {class:"input-new-project required-inputs-project-2"} %>
      <div class="choice-new-project">
      </div>
    </div>
    <div class="project-new-third-part">
      <%= f.label :open_to_collab %>
      <%= f.check_box :open_to_collab, required: true%>
      <%= f.input :address, required: true, input_html: {class:"input-new-project required-inputs-project-3"} %>
      <div class="form-actions choice-new-project">
        <%= f.button :submit, "Sauvegarder les modifications",class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end -%>
</div>
