<div class="project-new d-flex flex-column align-items-center">
  <div class="project-new-title">
    <h1>Projet : <%= @project.title %></h1>
  </div>
  <%= simple_form_for @project do |f|  %>
  <div class=" edit-project-form form-inputs form-edit-project">
    <%= f.input :title, required: true, input_html: {class:"input-edit-project required-inputs-project-1"} %>
    <%= f.input :categories, collection: Project::CATEGORIES_LIST.sort, input_html: { multiple: true, class: "select2 input-edit-project required-inputs-project-1"} %>
    <%= f.input :description, required: true, input_html: {class:"input-edit-project required-inputs-project-2"} %>
    <label id="checkbox-project">
      <input name="project[open_to_collab]" type="hidden" value="0">
      <input required="required" type="checkbox" value="1" checked="checked" name="project[open_to_collab]" id="project_open_to_collab">
        <i></i>
        <span>Ouvert à la collaboration</span>
    </label>
    <%= f.input :address, required: true, input_html: {class:"input-edit-project required-inputs-project-3"} %>
    <div class="form-actions choice-new-project">
      <%= f.button :submit, "Sauvegarder les modifications",class:"btn btn-primary" %>
    </div>
  </div>
  <% end -%>
</div>
