<% should_display_all = @project.errors.any? %>
<div class="project-new d-flex flex-column align-items-center">
  <div class="project-new-title">
    <h1>NOUVEAU PROJET</h1>
    <p>Montrez vos idées, trouvez de l’inspiration, partagez votre projet et trouvez des collaborateurs.
    Accédez à un espace de travail personnalisé et adapté pour la collaboration.</p>
  </div>
  <%= simple_form_for @project do |f|  %>
  <div class="form-inputs form-new-project">
    <div class="project-new-first-part">
      <%= f.input :title, required: true, input_html: {class:"input-new-project required-inputs-project-1"} %>
      <%= f.input :categories, collection: Project::CATEGORIES_LIST.sort, input_html: { multiple: true, class: "select2 input-new-project required-inputs-project-1"} %>
      <div class="<%= should_display_all ? 'd-none' : '' %> choice-new-project">
        <h2 class="next-step-button btn btn-primary">Suivant</h2>
      </div>
    </div>
    <div class="project-new-second-part <%= should_display_all ? '' : 'd-none' %>">
      <%= f.input :description, required: true, input_html: {class:"input-new-project required-inputs-project-2"} %>
      <p>Téléchargements</p>
      <div class="<%= should_display_all ? 'd-none' : '' %> choice-new-project">
        <h2 class="next-step-button-last btn btn-primary">Suivant</h2>
        <h2 class="last-step-button btn btn-primary">Retour</h2>
      </div>
    </div>
    <div class="project-new-third-part <%= should_display_all ? '' : 'd-none' %>">
      <%= f.label :open_to_collab %>
      <%= f.check_box :open_to_collab, required: true%>
      <%= f.input :address, required: true, input_html: {class:"input-new-project required-inputs-project-3"} %>
      <div class="form-actions choice-new-project">
        <%= f.button :submit, "Créer votre projet",class:"btn btn-primary" %>
        <h2 class=" <%= should_display_all ? 'd-none' : '' %> last-step-button-final btn btn-primary">Retour</h2>
      </div>
    </div>
  </div>
  <% end -%>
</div>
