<div class="show-project-hero d-flex justify-content-between">
  <div class="show-projet-top-left">
    <div class="show-projet-top-left-title d-flex align-items-center">
      <h2><%= @project.title %></h2>
      <div class="show-projet-top-left-likes d-flex align-items-center">
        <% pre_like = @project.user_likes.find { |like| like.user == current_user} %>
        <% if pre_like %>
        <%= link_to "<i class='fas fa-heart' style='color:red'></i>".html_safe, project_user_like_path(@project, pre_like), method: :delete, remote: true %>
        <% else %>
        <%= link_to "<i class='far fa-heart' style ='color:red'></i>".html_safe, project_user_likes_path(@project), method: :post, remote: true %>
        <% end %>
        <%= @project.user_likes.count %> <%= (@project.user_likes.count) == 1 ? 'Like' : 'Likes'%>
      </div>
    </div>
    <div class="show-projet-top-left-content d-flex  justify-content-between mt-2">
      <div class="show-projet-top-left-user d-flex align-items-center">
        <%= image_tag "https://images.unsplash.com/photo-1457449940276-e8deed18bfff", width:"27px", height:"27px", alt: "avatar", class:"user-project-avatar" %>
      </div>
      <div class="show-hero-info d-flex flex-column">
        <p class="username-align-show"><%= link_to @project.user.username, project_path %> + collaborateurs</p>
        <p class="username-align-show"><%= @project.description %></p>
        <p class="username-align-show"><%= @project.categories[0] %></p>
      </div>

    </div>
  </div>
  <% if policy(@project).update? %>
  <%= link_to "Modifier le projet", edit_project_path(@project), class:"btn btn-secondary", remote: true, class:"btn btn-secondary" %>
  <% end %>
  <% if policy(@project).destroy? %>
  <%= link_to "Supprimer le projet", project_path(@project), method: :delete, remote: true, data: { confirm: 'Sure sure ?' }, class:"btn btn-secondary"%>
  <% end %>
  <div class="show-projet-top-right">
    <% if @project.open_to_collab == true %>
    <div class="effect-button-collaborate">
      <div class="effect-button-collaborate-content">
        <a href="#" class="btn title-btn-effect btn-effect-split">COLLABORER</a>
      </div>
    </div>
    <p class="statut-collab-projet">Recherche des artistes à <%= @project.address %></p>
    <% else %>
    <p class="statut-collab-projet">Ce projet est privé</p>
    <% end %>
  </div>
</div>
<% unless policy(@project).update? %>
<h3 class="text-center">Demande de collaboration</h3>
<%= simple_form_for [@project, @collaboration], html: { class: "collaborationform"}  do |f| -%>
<%= f.input :request_content, label: false %>
<%= f.button :submit, "Envoyer" , class:"btn btn-primary btn-request-collaboration" %>
<% end %>
<% end %>

<% if policy(@project).update? %>
<% @requests.each do |request| %>
<span class="pl-2"><%= request.user.username %></span>
<p><%= request.request_content %></p>


<% if request.status.nil? %>
<span class="pending"> pending 🕑 </span>
<% elsif request.status %>
<span class="status"> status 🎉 </span>
<% else %>
<span class="declined"> declined 😢 </span>
<% end %>

<%= link_to '<i style="color:red"class="fas fa-check-circle"></i>'.html_safe, project_accept_collaboration_path(request.project, request), method: 'patch', remote: true %>
<%= link_to '<i style="color:red"class="fas fa-ban"></i>'.html_safe, project_decline_collaboration_path(request.project, request), method: 'patch', remote: true %>
<% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Blocks privés du projet</h3>
      <% @private_blocks.each do |block| %>
          <%= render 'shared/block_display', block: block %>
        <hr />
      <% end %>
    </div>

    <div class="col-sm-6">
      <h3>Blocks publics du projet</h3>
      <% @public_blocks.each do |block| %>
          <%= render 'shared/block_display', block: block %>
        <hr />
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 block_add">
      <h3>Ajouter un bloc</h3>
      <em style="color: #D8D8D8">Mettre une url youtube pour ajouter la vidéo</em>
      <%= simple_form_for([@project, @block]) do |f| %>
      <%= f.input :content, required: true %>
      <%= f.input :upload, as: :file %>
      <%= f.input :private %>
      <%= f.button :submit, class:"btn btn-primary", remote: true %>
      <% end %>
    </div>
  </div>
</div>