<div class="content">
  <div class="show-project-hero d-flex justify-content-around">
    <div class="show-projet-top-left">
      <div class="show-projet-top-left-title">
        <h2><%= @project.title %></h2>
        <div class="show-projet-top-left-likes d-flex align-items-center">
          <% pre_like = @project.user_likes.find { |like| like.user == current_user} %>
          <% if pre_like %>
          <%= link_to "<i class='fas fa-heart'></i>".html_safe, project_user_like_path(@project, pre_like), method: :delete, remote: true %>
          <% else %>
          <%= link_to "<i class='far fa-heart'></i>".html_safe, project_user_likes_path(@project), method: :post, remote: true %>
          <% end %>
          <p><%= @project.user_likes.count %> <%= (@project.user_likes.count) <= 1 ? 'like' : 'likes'%></p>
        </div>
      </div>
      <div class="show-projet-top-left-content d-flex mt-2">
        <div class="show-projet-top-left-user d-flex align-items-center">
          <% if @project.user.photo.attached? %>
          <%= cl_image_tag(@project.user.photo.key, class: "user-project-avatar", alt: "avatar") %>
          <% else%>
          <%= image_tag 'https://via.placeholder.com/35', class: "user-project-avatar"  %>
          <% end %>
        </div>
        <div class="show-hero-info d-flex flex-column">
          <p class="username-align-show">
            <%= link_to @project.user.username.capitalize, (current_user == @project.user ? portfolio_path : user_path(@project.user)), class:"username-admin-show-project" %>
            <br/>
            <%= @project.collabs.empty? ? '' : @project.collabs.count.to_s + ( @project.collabs.count == 1 ? ' collaborateur' : ' collaborateurs') %></p>
          <p class="username-align-show description-project-show"><%=  @project.description %></p>
          <div class="username-align-show">
            <%  @project.categories.each do |categorie|%>
            <p class="badge badge-pill skill-badge"> <%= categorie %> </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="show-projet-top-right">
      <% if @project.open_to_collab == true && current_user.visitor?(@project) && @requests.where(project: @project, user: current_user, status: nil).empty? %>
      <div class="effect-button-collaborate">
        <div class="effect-button-collaborate-content">
          <a class="btn title-btn-effect btn-effect-split collaborer-btn">COLLABORER</a>
        </div>
      </div>
      <p class="statut-collab-projet text-center">En recherche d'artiste <br><i class='fas fa-map-marker-alt'></i>
        <% if @project.latitude %>
          <%= Geocoder.search([@project.latitude, @project.longitude]).first.city %>,
          <%= Geocoder.search([@project.latitude, @project.longitude]).first.county %></p>
        <% else %>
          <%= @project.address.first(20) %>...
        <% end %>
      <% end %>
      <% request = @requests.where(user: current_user, status: nil).first %>
      <% if request %>
      <div class="request-pending-collaborator">
        <p>Demande de collaboration en attente</p>
        <%= link_to "Annuler la demande de collaboration", project_collaboration_path(request.project, request), method: :delete, class: "btn btn-outline-primary", remote: true %>
      </div>
      <% end %>
      <% if policy(@project).update? %>
      <%= link_to "Modifier le projet", edit_project_path(@project),class:"btn btn-outline-primary edit-project-buton" %>
      <% end %>
      <% if policy(@project).destroy? %>
      <%= link_to "Supprimer le projet", project_path(@project), method: :delete, remote: true, data: { confirm: 'Êtes vous sûr.e ?' }, class:"btn btn-outline-primary edit-project-buton"%>
      <% end %>
    </div>
  </div>
  <% unless policy(@project).update? %>
  <div class="request-collaboration d-none">
    <h3 class="text-center">Demande de collaboration</h3>
    <%= simple_form_for [@project, @collaboration], html: { class: "collaborationform"}  do |f| -%>
    <%= f.input :request_content, label: :Message %>
    <%= f.button :submit, "Envoyer" , class:"btn btn-primary btn-request-collaboration" %>
    <% end %>
    <% end %>
  </div>
  <% if current_user.owner?(@project) || policy(@project).destroy? %>
  <div class="collaborators-admin">
    <% if current_user.owner?(@project) %>
    <div class="collaborators-cards">
      <h4>VOS COLLABORATEURS</h4>
      <div class="collaborators-part-left d-flex">
        <% @project.collabs.each do |collab| %>
        <div class="collaborator-card">
          <div class="collaborator-card-name d-flex">
            <% if collab.user.photo.attached? %>
            <%= cl_image_tag(collab.user.photo.key, class: "user-project-avatar", alt: "avatar") %>
            <% else%>
            <%= image_tag 'https://via.placeholder.com/35', class: "user-project-avatar"  %>
            <% end %>
            <%= link_to user_path(collab.user) do %>
            <h4><%= collab.user.username %></h4>
            <% end %>
          </div>
          <%= link_to "<i class='fas fa-times'></i>".html_safe, project_collaboration_path(@project, collab), method: :delete, remote: true, data: { confirm: 'Êtes vous sûr.e ?' }%>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <% if policy(@project).destroy? %>
    <div class="all-request-pending-admin">
      <h4>VOS DEMANDES DE COLLABORATION</h4>
      <div class="collaborators-part-right">
        <% @requests.where(status: nil).each do |request| %>
        <% if policy(@project).destroy? %>
        <div class="request-pending-admin">
        <%= link_to user_path(@project.user) do %>
          <div class="user-profil-request">
            <% if request.user.photo.attached? %>
            <%= cl_image_tag(request.user.photo.key, class: "user-project-avatar", alt: "avatar") %>
            <% else%>
            <%= image_tag 'https://via.placeholder.com/35', class: "user-project-avatar"  %>
            <% end %>
            <h4><%= request.user.username.capitalize %></h4>
          </div>
          <% end %>
          <p><%= request.request_content %></p>
          <div class="status-request-admin">
            <% if request.status.nil? %>
            <span class="pending"> Pending 🕑 </span>
            <% elsif request.status %>
            <span class="status"> Accepted 🎉 </span>
            <% else %>
            <span class="declined"> Declined 😢 </span>
            <% end %>
            <div class="accepted-decline-buton">
              <%= link_to '<i class="fas fa-check-circle"></i>'.html_safe, project_accept_collaboration_path(request.project, request), method: 'patch', remote: true %>
              <%= link_to '<i class="fas fa-ban"></i>'.html_safe, project_decline_collaboration_path(request.project, request), method: 'patch', remote: true %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <%end%>
  </div>
  <%end%>
  <div class="blocks-bg-white">
    <% if !current_user.visitor?(@project) %>
    <div class="container project-toggle">
      <div class="row justify-content-center">
        <div class="explorer-choice d-flex justify-content-between align-items-center">
          <a class="btn-explorer-artists btn-explorer-active toggle-public">
            PUBLIC
          </a>
          <div>
            <hr class="separation" />
          </div>
          <a class="btn-explorer-projects btn-explorer-inactive toggle-private">
            PRIVÉ
          </a>
        </div>
      </div>
    </div>
    <div class="container blocks blocks-private hidden">
      <div class="row">
        <div class="blocks">
          <% @private_blocks.each do |block| %>
          <%= render 'shared/block_display', block: block %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="container blocks blocks-public">
      <div class="row">
        <div class="blocks">
          <% @public_blocks.each do |block| %>
          <%= render 'shared/block_display', block: block %>
          <% end %>
        </div>
      </div>
    </div>
    <% if !current_user.visitor?(@project) %>
    <%= render 'shared/project_block_form', project: @project, block: @block %>
    <% end %>
  </div>
</div>
