<div class="content">
  <div class="show-project-hero d-flex justify-content-between">
    <div class="show-projet-top-left">
      <div class="show-projet-top-left-title">
        <h2><%= @project.title %></h2>
        <div class="show-projet-top-left-likes d-flex align-items-center">
          <% pre_like = @project.user_likes.find { |like| like.user == current_user} %>
          <% if pre_like %>
          <%= link_to "<i class='fas fa-heart' style='color:red'></i>".html_safe, project_user_like_path(@project, pre_like), method: :delete, remote: true %>
          <% else %>
          <%= link_to "<i class='far fa-heart' style ='color:red'></i>".html_safe, project_user_likes_path(@project), method: :post, remote: true %>
          <% end %>
          <%= @project.user_likes.count %> <%= (@project.user_likes.count) == 1 ? 'Like' : 'Likes'%>
        </div>
      </div>
      <div class="show-projet-top-left-content d-flex mt-2">
        <div class="show-projet-top-left-user d-flex align-items-center">

         <% if @project.user.photo.attached? %>
        <%= cl_image_tag(@project.user.photo.key, class: "user-project-avatar", alt: "avatar") %>
      <% else%>
        <%= image_tag 'https://via.placeholder.com/35', class: "user-project-avatar"  %>
      <% end %>
        </div>
        <div class="show-hero-info d-flex flex-column">
          <p class="username-align-show"><%= link_to @project.user.username, (current_user == @project.user ? portfolio_path : user_path(@project.user)) %> + <%= @project.collabs.count %>  <%= (@project.collabs.count) == 1 ? 'collaborateur' : 'collaborateurs'%></p>
          <p class="username-align-show description-project-show"><%=  @project.description %></p>
          <div class="username-align-show">
            <%  @project.categories.each do |categorie|%>
            <p class="badge badge-pill badge-danger"> <%= categorie %> </p>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user.owner?(@project) %>
      <div class="collaborators-cards">
        <% @project.collabs.each do |collab| %>
        <div class="collaborator-card">
          <%= collab.user.username %>&nbsp<%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, project_collaboration_path(@project, collab), method: :delete, remote: true, data: { confirm: 'Sure sure ?' }%>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="show-projet-top-right">
      <% if @project.open_to_collab == true && current_user.visitor?(@project) && @requests.where(project: @project, user: current_user, status: nil).empty? %>
      <div class="effect-button-collaborate">
        <div class="effect-button-collaborate-content">
          <a class="btn title-btn-effect btn-effect-split collaborer-btn">COLLABORER</a>
        </div>
      </div>
      <p class="statut-collab-projet"><i class='fas fa-map-marker-alt'></i> Recherche des artistes près de <%= Geocoder.search([@project.latitude, @project.longitude]).first.city %>, <%= Geocoder.search([@project.latitude, @project.longitude]).first.county %></p>
      <% end %>
      <% request = @requests.where(user: current_user, status: nil).first %>
      <% if request %>
      <div class="request-pending-collaborator">
        <p>Demande de collaboration en attente</p>
        <%= link_to "Annuler la demande de collaboration", project_collaboration_path(request.project, request), method: :delete, class: "btn btn-outline-primary", remote: true %>
      </div>
      <% end %>
      <% if policy(@project).update? %>
      <%= link_to "Modifier le projet", edit_project_path(@project),class:"btn btn-secondary btn-outline-primary" %>
      <% end %>
      <% if policy(@project).destroy? %>
      <%= link_to "Supprimer le projet", project_path(@project), method: :delete, remote: true, data: { confirm: 'Sure sure ?' }, class:"btn btn-secondary btn-outline-primary"%>
      <% end %>
    </div>
  </div>
  <% unless policy(@project).update? %>
  <div class="request-collaboration d-none">
    <h3 class="text-center">Demande de collaboration</h3>
    <%= simple_form_for [@project, @collaboration], html: { class: "collaborationform"}  do |f| -%>
    <%= f.input :request_content, label: :Message %>
    <%= f.button :submit, "Envoyer" , class:"btn btn-primary btn-request-collaboration" %>
    <% end %>
    <% end %>
  </div>
  <div class="all-request-pending-admin">
    <% @requests.where(status: nil).each do |request| %>
    <% if policy(@project).destroy? %>
    <div class="request-pending-admin">
      <div class="user-profil-request">
         <% if request.user.photo.attached? %>
        <%= cl_image_tag(request.user.photo.key, class: "user-project-avatar", alt: "avatar") %>
      <% else%>
        <%= image_tag 'https://via.placeholder.com/35', class: "user-project-avatar"  %>
      <% end %>
        <h4><%= request.user.username.capitalize %></h4>
      </div>
      <p><%= request.request_content %></p>
      <div class="status-request-admin">
        <% if request.status.nil? %>
        <span class="pending"> Pending 🕑 </span>
        <% elsif request.status %>
        <span class="status"> Accepted 🎉 </span>
        <% else %>
        <span class="declined"> Declined 😢 </span>
        <% end %>
        <div class="accepted-decline-buton">
          <%= link_to '<i class="fas fa-check-circle"></i>'.html_safe, project_accept_collaboration_path(request.project, request), method: 'patch', remote: true %>
          <%= link_to '<i class="fas fa-ban"></i>'.html_safe, project_decline_collaboration_path(request.project, request), method: 'patch', remote: true %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="blocks-bg-white pt-5">
    <% if !current_user.visitor?(@project) %>
    <div class="container project-toggle">
      <div class="row justify-content-center">
        <div class="explorer-choice d-flex justify-content-between align-items-center">
          <a class="btn-explorer-artists btn-explorer-active toggle-public">
          PUBLIC
          <div class="btn-explorer-artists__horizontal"></div>
          <div class="btn-explorer-artists__vertical"></div>
          </a>
          <a class="btn-explorer-projects btn-explorer-inactive toggle-private">
          PRIVÉ
          <div class="btn-explorer-projects__horizontal"></div>
          <div class="btn-explorer-projects__vertical"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="container blocks blocks-private hidden">
      <div class="row">
        <div class="blocks">
          <% @private_blocks.each do |block| %>
          <%= render 'shared/block_display', block: block %>
          <hr />
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="container blocks blocks-public">
      <div class="row">
        <div class="blocks">
          <% @public_blocks.each do |block| %>
          <%= render 'shared/block_display', block: block %>
          <hr />
          <% end %>
        </div>
      </div>
    </div>
    <% if !current_user.visitor?(@project) %>
    <%= render 'shared/project_block_form', project: @project, block: @block %>
    <% end %>
  </div>
</div>
