<div class="navbar fixed-top registration-navbar">
  <%= link_to root_path do %>
    <img src="https://i.ibb.co/6y67sbM/cosmoseblack.png" alt="logo" class="navbar-logo">
  <% end %>
  <div class="navbar-buttons">
    <%= link_to "Connexion", new_user_session_path, class:"login-btn btn btn-secondary delink-btn" %>
    <%= link_to "Inscription", new_user_registration_path, class:"signup-btn btn btn-primary delink-btn" %>
  </div>
</div>
<div class="container mt-5">
  <h2>Connexion</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-inputs">
  <%= f.input :email,
  required: false,
  autofocus: true,
  input_html: { autocomplete: "email" } %>
  <%= f.input :password,
  required: false,
  input_html: { autocomplete: "current password" } %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
</div>
<div class="form-actions">
  <%= f.button :submit, "Connexion", class:"btn btn-primary" %>
</div>
<% end %>
<%= render "devise/shared/links" %>

</div>
